<header>
    <a href="/" ><img alt="Rijks Library Logo" height="32" width="165" src="/images/rijks-library-logo.svg"></a>
    <a href="/bookmarks"><img alt="Bookmark" height="32" width="24" src="/images/bookmark_active.svg"></a>
</header>