<main>
    <section class="titels">
        <h2>{{subtitle}}</h2>
        <h1><span>'{{title}}'</span></h1>
    </section>

    <section class="resultaten">
        <img alt="Empty frame error image" class="errorImg" src="../images/empty_frame.png">
    </section>

    {{> search }}
</main>


