<main>
    <section class="titels">
        <h2>{{subtitle}}</h2>
        <h1>{{title}}</h1>
    </section>

    <section class="resultaten">
        <img class="errorImg" src="../images/empty_frame.png">
    </section>
</main>


