@font-face {
    font-family: "Rijksmuseum Normal";
    src: url("../font/Rijksmuseum-Normal.woff") format("woff");
}

@font-face {
    font-family: "Rijksmuseum Bold";
    src: url("../font/Rijksmuseum-Bold.woff") format("woff");
}

* { 
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: "Rijksmuseum Normal", sans-serif;
    scroll-behavior: smooth;
}

header {
    position:fixed;
    display: flex;
    justify-content:space-between;
    width: 100%;
    padding: 3em 3em 1.5em 3em;
    background-color: rgb(27, 27, 27);
    z-index: 2;
}

header::before {
    content: "";
    position: absolute;
    width: calc(100% - 6em);
    background-color: #fff;
    bottom: 0;
    height: 1px;
}

header img {
    height: 3em;  
}

main {
    padding: 9em 3em 3em 3em;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

 a {
     text-decoration: none;
     color: #fff;
 }

h1 {
    display: block;
    width: 100%;
    font-size: clamp(2.5em, 6vw, 4.5em);
    font-family: "Rijksmuseum Bold", sans-serif;
    text-transform: uppercase;
    margin: 0;
    line-height: .8em;
}

h1 span {
    font-style: italic;
}

section {
    display: flex;
}

.titels {
    width: 30%;
    position: fixed;
    bottom: 3em;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.loader {
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: none;
    padding-left: calc(30% - 3em);
}

.loader div {
    width: 4.5em;
    height: 4.5em;
    border: 9px solid #f3f3f3;
    border-top: 10px solid #d55140;
    border-radius: 100%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.resultaten {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: calc(30% - 3em);
}

.loaderDisplay {
    display: flex;
}

.loaderDisplay div {
    animation: spin 1s infinite linear;
}

.resultsNoDisplay {
    display: none;
}


article {
    width: 23em;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 1em 5em;
    align-content: flex-start;
    align-self: flex-start;
    cursor: pointer;
}

article:hover img {
    transform: scale(1.01);
    transition: .5s ease-in-out;
}

.errorImg {
    padding-top: 7em;
    width: 100%;
    max-width: 23em;
    display: none;
}

.visible {
    display: inline;
}

article img {
    width: 100%;
    transition: .5s ease-in-out;
}

article h3 {
    margin-bottom: .5em;
}



input {
    padding: 1em 3.2em 1em 1.3em;
    border: none;
    border-radius: 5em;
    height: 3.4em;

}

button {
    appearance: none;
    border: none;
    padding: .7em 1em;
    border-radius: 1em;
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
}

form {
    position: fixed;
    margin: 0;
    bottom: 3em;
    right: 3em;
    display: flex;
    flex-direction: row;
}

form button {
    height: 3.4em;
    width: 3.4em;
    background: none;
    border: 1px #000;
    border-radius: 100%;
    margin-left: -3.4em;
    z-index: 2;
}

aside {
    background-color: #d55140;
    width: 100%;
    max-width: 30em;
    height: calc(100% - 7.5em);
    position: fixed;
    top: 7.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    transform: translateX(-101%);
    transition: transform 1s ease-in-out;
}

aside > section {
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.asideOpen {
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

aside nav {
    display: flex;
    top: 0;
    padding: 1em;
    justify-content: flex-end;
    position: absolute;
    align-self: flex-end;
    z-index: 1;
}

aside nav img {
    width: 2.7em;
    transition: .3s ease-in-out;
}

aside nav button:hover img {
    transform: scale(1.07);
    transition: .3s ease-in-out;
}

aside h2 {
    font-size: 1.7em;
    font-family: "Rijksmuseum Bold", sans-serif;
    text-transform: uppercase;
}

aside div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

aside img {
    width: 100%;
}

aside .arrowIcon {
    position: absolute;
    bottom: 3em;
    width: 3em;
    filter: drop-shadow(0 0 10px #000);
    animation: scrollHint 1.5s ease-in-out infinite alternate;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

aside .arrowVisible {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

@keyframes scrollHint {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(7px);
    }
}

aside > section section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
}

aside h3 {
    font-size: 1.3em;
    font-style: italic;
}

aside p {
    margin-top: 1em;
    font-size: 1em;
}



@media only screen and (max-width: 1100px) {
    main {
        flex-direction: column;
    }
    
    .titels {
        position: relative;
        bottom: 0;
        width: 100%;
    }

    h1 {
        font-size: clamp(2.5em, 2vw, 7em);
    }

    .resultaten {
        padding: 0;
        justify-content: space-between;
        gap: 1em;
    }

    .loader {
        padding: 0;
    }

    .resultaten article {
        margin: 1em 0em;
        width: 48%;
    }

    aside {
        max-width: 50vw;
    }
}

@media only screen and (max-width: 650px) {

    h1 {
        font-size: 2.5em;
    }

    .resultaten article {
        width: 100%;
    }

    header img {
        height: 2em;
    }

    aside {
        height: calc(100% - 6.5em);
        top: 6.5em;
        max-width: 100%;
    }
}