@font-face {
    font-family: "Rijksmuseum Normal";
    src: url("../font/Rijksmuseum-Normal.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rijksmuseum Bold";
    src: url("../font/Rijksmuseum-Bold.woff2") format("woff2");
    font-display: swap;
}

* { 
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    background-color: #1b1b1b;
    color: white;
    font-family: "Rijksmuseum Normal", sans-serif;
    scroll-behavior: smooth;
}

body > header {
    position:fixed;
    display: flex;
    justify-content:space-between;
    width: 100%;
    padding: 3em 3em 1.5em 3em;
    background-color: rgb(27, 27, 27);
    z-index: 2;
    align-items: center;
}

body > header::before {
    content: "";
    position: absolute;
    width: calc(100% - 6em);
    background-color: #fff;
    bottom: 0;
    height: 1px;
}

body > header a:nth-of-type(1) img {
    height: 3em;  
    width: auto;
}

body > header a:nth-of-type(2) img {
    height: 2em;
    width: auto;
}

main {
    padding: 9em 3em 3em 3em;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

 a {
     text-decoration: none;
     color: #fff;
 }

h1 {
    display: block;
    width: 100%;
    font-size: clamp(2.5em, 6vw, 4.5em);
    font-family: "Rijksmuseum Bold", sans-serif;
    text-transform: uppercase;
    margin: 0;
    line-height: .8em;
}

h1 span {
    font-style: italic;
}

section {
    display: flex;
}

.titels {
    width: 30%;
    position: fixed;
    bottom: 3em;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.resultaten {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: calc(30% - 3em);
    margin-bottom: 4em;
}

.loaderDisplay {
    display: flex;
}

.loaderDisplay div {
    animation: spin 1s infinite linear;
}

.resultsNoDisplay {
    display: none;
}


article {
    width: 23em;
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 1em 5em;
    align-content: flex-start;
    align-self: flex-start;
    cursor: pointer;
}

article:hover img {
    transform: scale(1.01);
    transition: .5s ease-in-out;
}

.errorImg {
    padding-top: 7em;
    width: 100%;
    max-width: 23em;
    display: flex;
    height: auto;
}

.visible {
    display: inline;
}

article a img {
    width: 100%;
    height: auto;
    transition: transform .5s ease-in-out;
}

article h3 {
    margin-bottom: .5em;
}

article > img {
    position: absolute;
    bottom: 1em;
    right: 1em;
    height: 2em;
    width: auto;
}



input {
    padding: 1em 3.2em 1em 1.3em;
    border: none;
    border-radius: 5em;
    height: 3.4em;

}

button {
    appearance: none;
    border: none;
    padding: .7em 1em;
    border-radius: 1em;
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
}

form {
    position: fixed;
    margin: 0;
    bottom: 3em;
    right: 3em;
    display: flex;
    flex-direction: row;
}

form button {
    height: 3.4em;
    width: 3.4em;
    background: none;
    border: 1px #000;
    border-radius: 100%;
    margin-left: -3.4em;
    z-index: 2;
}


.detail {
    display: flex;
    margin: 0;
    width: 100%;
    flex-direction: column;
    height: 100%;
    align-content: flex-start;
    align-self: flex-start;
    cursor: inherit;
}

.detail header {
    width: 100%;
    margin-bottom: 1em;
}

.detail header p {
    font-style: italic;
}

.detail section {
    width: 100%;
    display: flex;
    gap: 1em;
}

.detail section p {
    max-width: 30em;
}

.detail img {
    width: 50%;
    height: auto;
}

.detail:hover img {
    transform: none;
    transition: none;
}

.bookmarks {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

.bookmarks a {
    text-decoration: underline;
}

.deleteBookmarks {
    font-family: "Rijksmuseum Bold";
    margin-top: 2em;
    font-size: 1.1em;
    cursor: pointer;
    margin-bottom: 4em;
}


@media only screen and (max-width: 1100px) {
    main {
        flex-direction: column;
    }
    
    .titels {
        position: relative;
        bottom: 0;
        width: 100%;
    }

    h1 {
        font-size: clamp(2.5em, 2vw, 7em);
    }

    .resultaten {
        padding: 0;
        justify-content: space-between;
        gap: 1em;
    }

    .resultaten article {
        margin: 1em 0em;
        width: 48%;
    }
}

@media only screen and (max-width: 650px) {

    h1 {
        font-size: 2.5em;
    }

    .resultaten article {
        width: 100%;
    }

    body > header a:first-of-type img {
        height: 2em;
        width: auto;
    }

    .detail section {
        flex-direction: column;
    }

    .detail img {
        width: 100%;
        height: auto;
    }

    .detail {
        margin-bottom: 4em;
    }
}